In [57]:
import os
import json
import pandas as pd
import MySQLdb
os.environ["GIT_PYTHON_REFRESH"] = "quiet"
import git

In [58]:
#aggregate_transaction

path1="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/aggregated/transaction/country/india/state/"
agg_tran_list= os.listdir(path1)

columns={"states":[], "years":[], "qtr":[], "tran_typ":[] , "tran_cnt":[], "tran_amt":[]}
for state in agg_tran_list:
    cur_states=path1+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")

            A=json.load(data)
            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns["tran_typ"].append(name)
                columns["tran_cnt"].append(count)
                columns["tran_amt"].append(amount)
                columns["states"].append(state)
                columns["years"].append(yr)
                columns["qtr"].append(int(file.strip(".json")))
agg_transaction=pd.DataFrame(columns) 
agg_transaction["states"] = agg_transaction["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
agg_transaction["states"] = agg_transaction["states"].str.replace("-"," ")
agg_transaction["states"] = agg_transaction["states"].str.title()
agg_transaction["states'"] = agg_transaction["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
agg_transaction

In [59]:
#aggregate_insurance

path11="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/aggregated/insurance/country/india/state/"
agg_ins_list= os.listdir(path11)

columns1={"states":[], "years":[], "qtr":[], "tran_typ":[] , "tran_cnt":[], "tran_amt":[]}
for state in agg_ins_list:
    cur_states=path11+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")
            AA=json.load(data)
            for i in AA["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["tran_typ"].append(name)
                columns1["tran_cnt"].append(count)
                columns1["tran_amt"].append(amount)
                columns1["states"].append(state)
                columns1["years"].append(yr)
                columns1["qtr"].append(int(file.strip(".json")))
agg_insurance=pd.DataFrame(columns1) 
agg_insurance["states"] = agg_insurance["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
agg_insurance["states"] = agg_insurance["states"].str.replace("-"," ")
agg_insurance["states"] = agg_insurance["states"].str.title()
agg_insurance["states'"] = agg_insurance["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
agg_insurance

In [60]:
#aggregated user
path2="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/aggregated/user/country/india/state/"
agg_user_list= os.listdir(path2)

columns2={"states":[], "years":[], "qtr":[], "Brands":[] , "tran_cnt":[], "Percentage":[]}
for state in agg_user_list:
    cur_states=path2+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")

            B=json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns2["Brands"].append(brand)
                    columns2["tran_cnt"].append(count)
                    columns2["Percentage"].append(percentage)
                    columns2["states"].append(state)
                    columns2["years"].append(yr)
                    columns2["qtr"].append(int(file.strip(".json")))
            except:
                pass

In [61]:
aggr_user=pd.DataFrame(columns2)
aggr_user["states"] = aggr_user["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggr_user["states"] = aggr_user["states"].str.replace("-"," ")
aggr_user["states"] = aggr_user["states"].str.title()
aggr_user["states'"] = aggr_user["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
aggr_user

In [62]:
#map trasaction
path3="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/map/transaction/hover/country/india/state/"
map_tran_list= os.listdir(path3)
columns3={"states":[], "years":[], "qtr":[], "Districts":[] , "tran_cnt":[], "tran_amt":[]}
for state in map_tran_list:
    cur_states=path3+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")

            C=json.load(data)
            for i in C["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns3["Districts"].append(name)
                columns3["tran_cnt"].append(count)
                columns3["tran_amt"].append(amount)
                columns3["states"].append(state)
                columns3["years"].append(yr)
                columns3["qtr"].append(int(file.strip(".json")))

In [63]:
map_tran=pd.DataFrame(columns3)
map_tran["states"] = map_tran["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_tran["states"] = map_tran["states"].str.replace("-"," ")
map_tran["states"] = map_tran["states"].str.title()
map_tran["states'"] = map_tran["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
map_tran

In [64]:
#map insurance
path31="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/map/insurance/hover/country/india/state/"
map_ins_list= os.listdir(path31)
columns31={"states":[], "years":[], "qtr":[], "Districts":[] , "tran_cnt":[], "tran_amt":[]}
for state in map_ins_list:
    cur_states=path31+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")

            CC=json.load(data)
            for i in CC["data"]["hoverDataList"]:
                name=i["name"]
                count=i["metric"][0]["count"]
                amount=i["metric"][0]["amount"]
                columns31["Districts"].append(name)
                columns31["tran_cnt"].append(count)
                columns31["tran_amt"].append(amount)
                columns31["states"].append(state)
                columns31["years"].append(yr)
                columns31["qtr"].append(int(file.strip(".json")))

In [ ]:
map_ins=pd.DataFrame(columns31)
map_ins["states"] = map_ins["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_ins["states"] = map_ins["states"].str.replace("-"," ")
map_ins["states"] = map_ins["states"].str.title()
map_ins["states'"] = map_ins["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
map_ins

In [66]:
#map_user
path4="C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/map/user/hover/country/india/state/"
map_user_list= os.listdir(path4)
columns4={"states":[], "years":[], "qtr":[], "Districts":[] , "Reg_User":[], "App_Open":[]}
for state in map_user_list:
    cur_states=path4+state+'/'
    aggr_year_list=os.listdir(cur_states)
    for yr in aggr_year_list:
        cur_yr=cur_states+yr+'/'
        aggr_file_list=os.listdir(cur_yr)
        for file in aggr_file_list:
            cur_file=cur_yr+file
            data=open(cur_file,"r")

            D=json.load(data)
            for i in D["data"]["hoverData"].items():
                district=i[0]
                reg_user=i[1]["registeredUsers"]
                app_open=i[1]["appOpens"]
                columns4["Districts"].append(district)
                columns4["Reg_User"].append(reg_user)
                columns4["App_Open"].append(app_open)
                columns4["states"].append(state)
                columns4["years"].append(yr)
                columns4["qtr"].append(int(file.strip(".json")))

In [67]:
map_user=pd.DataFrame(columns4)
map_user["states"] = map_user["states"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user["states"] = map_user["states"].str.replace("-"," ")
map_user["states"] = map_user["states"].str.title()
map_user["states'"] = map_user["states"].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
map_user

In [68]:
   

#top_transaction
path5 = "C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/top/transaction/country/india/state/"
top_tran_list = os.listdir(path5)

columns5 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_tran_list:
    cur_states = path5+state+"/"
    top_year_list = os.listdir(cur_states)
    
    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)
        
        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            E = json.load(data)

            for i in E["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns5["Pincodes"].append(entityName)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))

top_transaction = pd.DataFrame(columns5)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.replace("-"," ")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")


#top_user
path6 = "C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path6)

columns6 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
    cur_states = path6+state+"/"
    top_year_list = os.listdir(cur_states)

    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)

        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            F = json.load(data)

            for i in F["data"]["pincodes"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                columns6["Pincodes"].append(name)
                columns6["RegisteredUser"].append(registeredusers)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

top_user = pd.DataFrame(columns6)

top_user["States"] = top_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_user["States"] = top_user["States"].str.replace("-"," ")
top_user["States"] = top_user["States"].str.title()
top_user['States'] = top_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [69]:
#top_insurance
path51 = "C:/Users/dhraj/Rajalakshmi/PROJECT/PhonePe/pulse/data/top/insurance/country/india/state/"
top_ins_list = os.listdir(path51)

columns51 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}
for state in top_ins_list:
    cur_states = path5+state+"/"
    top_year_list = os.listdir(cur_states)
    
    for year in top_year_list:
        cur_years = cur_states+year+"/"
        top_file_list = os.listdir(cur_years)
        
        for file in top_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            EE = json.load(data)
            
            for i in EE["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns51["Pincodes"].append(entityName)
                columns51["Transaction_count"].append(count)
                columns51["Transaction_amount"].append(amount)
                columns51["States"].append(state)
                columns51["Years"].append(year)
                columns51["Quarter"].append(int(file.strip(".json")))
                

top_ins = pd.DataFrame(columns51)

top_ins["States"] = top_ins["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_ins["States"] = top_ins["States"].str.replace("-"," ")
top_ins["States"] = top_ins["States"].str.title()
top_ins['States'] = top_ins['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [ ]:
top_ins

In [78]:
#Table Creation
#mysql connection
mydb = MySQLdb.connect(
    host="localhost",
    user="root",
    password="12345",
    database="Phone_Pe_data"
  )
cursor = mydb.cursor()

#aggregated transaction table
drop_query1 = 'drop table if exists aggregated_transaction '
cursor.execute(drop_query1)
create_query1 = '''CREATE TABLE if not exists aggregated_transaction (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query1)
mydb.commit()
#columns={"states":[], "years":[], "qtr":[], "tran_typ":[] , "tran_cnt":[], "tran_amt":[]}
for index,row in agg_transaction.iterrows():
    insert_query1 = '''INSERT INTO aggregated_transaction (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
              row["years"],
              row["qtr"],
              row["tran_typ"],
              row["tran_cnt"],
              row["tran_amt"]
              )
    cursor.execute(insert_query1,values)
    mydb.commit()

#aggregated insurance table
drop_query11 = 'drop table if exists aggregated_insurance'
cursor.execute(drop_query11)
create_query11 = '''CREATE TABLE if not exists aggregated_insurance (States varchar(50),
                                                                      Years int,
                                                                      Quarter int,
                                                                      Transaction_type varchar(50),
                                                                      Transaction_count bigint,
                                                                      Transaction_amount bigint
                                                                      )'''
cursor.execute(create_query11)
mydb.commit()
#columns={"states":[], "years":[], "qtr":[], "tran_typ":[] , "tran_cnt":[], "tran_amt":[]}
for index,row in agg_insurance.iterrows():
    insert_query11 = '''INSERT INTO aggregated_insurance (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
              row["years"],
              row["qtr"],
              row["tran_typ"],
              row["tran_cnt"],
              row["tran_amt"]
              )
    cursor.execute(insert_query11,values)
    mydb.commit()    

#aggregated user table
    #columns2={"states":[], "years":[], "qtr":[], "Brands":[] , "tran_cnt":[], "Percentage":[]}
drop_query2 = 'drop table if exists aggregated_user'
cursor.execute(drop_query2)
create_query2 = '''CREATE TABLE if not exists aggregated_user (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
cursor.execute(create_query2)
mydb.commit()

for index,row in aggr_user.iterrows():
    insert_query2 = '''INSERT INTO aggregated_user (States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
              row["years"],
              row["qtr"],
              row["Brands"],
              row["tran_cnt"],
              row["Percentage"])
    cursor.execute(insert_query2,values)
    mydb.commit()

#map_transaction_table
drop_query3 = 'drop table if exists map_transaction'
cursor.execute(drop_query3)
create_query3 = '''CREATE TABLE if not exists map_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query3)
mydb.commit()
#columns3={"states":[], "years":[], "qtr":[], "Districts":[] , "tran_cnt":[], "tran_amt":[]}
for index,row in map_tran.iterrows():
            insert_query3 = '''
                INSERT INTO map_Transaction (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['states'],
                row['years'],
                row['qtr'],
                row['Districts'],
                row['tran_cnt'],
                row['tran_amt']
            )
            cursor.execute(insert_query3,values)
            mydb.commit() 

#map_insurance_table
drop_query31 = 'drop table if exists map_insurance'
cursor.execute(drop_query31)
create_query31 = '''CREATE TABLE if not exists map_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
cursor.execute(create_query31)
mydb.commit()
#columns3={"states":[], "years":[], "qtr":[], "Districts":[] , "tran_cnt":[], "tran_amt":[]}
for index,row in map_ins.iterrows():
            insert_query31 = '''
                INSERT INTO map_insurance (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)

            '''
            values = (
                row['states'],
                row['years'],
                row['qtr'],
                row['Districts'],
                row['tran_cnt'],
                row['tran_amt']
            )
            cursor.execute(insert_query31,values)
            mydb.commit()            


#map_user_table
drop_query4 = 'drop table if exists map_user'
cursor.execute(drop_query4)            
create_query4 = '''CREATE TABLE if not exists map_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUser bigint,
                                                        AppOpens bigint)'''
cursor.execute(create_query4)
mydb.commit()
#columns4={"states":[], "years":[], "qtr":[], "Districts":[] , "Reg_User":[], "App_Open":[]}
for index,row in map_user.iterrows():
    insert_query4 = '''INSERT INTO map_user (States, Years, Quarter, Districts, RegisteredUser, AppOpens)
                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
              row["years"],
              row["qtr"],
              row["Districts"],
              row["Reg_User"],
              row["App_Open"])
    cursor.execute(insert_query4,values)
    mydb.commit()

#top_transaction_table
drop_query5 = 'drop table if exists top_transaction'
cursor.execute(drop_query5)
create_query5 = '''CREATE TABLE if not exists top_transaction (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

for index,row in top_transaction.iterrows():
    insert_query5 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query5,values)
    mydb.commit()

#top_insurance_table
drop_query51 = 'drop table if exists top_insurance'
cursor.execute(drop_query51)
create_query51 = '''CREATE TABLE if not exists top_insurance (States varchar(50),
                                                                Years int,
                                                                Quarter int,
                                                                pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query51)
mydb.commit()

for index,row in top_ins.iterrows():
    insert_query51 = '''INSERT INTO top_transaction (States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["Transaction_count"],
              row["Transaction_amount"])
    cursor.execute(insert_query51,values)
    mydb.commit()    

#top_user_table
drop_query6 = 'drop table if exists top_user'
cursor.execute(drop_query6)
create_query6 = '''CREATE TABLE if not exists top_user (States varchar(50),
                                                        Years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
cursor.execute(create_query6)
mydb.commit()

for index,row in top_user.iterrows():
    insert_query6 = '''INSERT INTO top_user (States, Years, Quarter, Pincodes, RegisteredUser)
                                            values(%s,%s,%s,%s,%s)'''
    values = (row["States"],
              row["Years"],
              row["Quarter"],
              row["Pincodes"],
              row["RegisteredUser"])
    cursor.execute(insert_query6,values)
    mydb.commit()